<ul class="nav nav-list">
    <li class="nav-header"><a href="{{ site.baseurl }}/">Home</a></li>
    <li class="nav-header"><a href="{{ site.baseurl }}/suggest.html">Suggest a Tutorial</a></li>
    <li class="nav-header">Tutorials</li>
    {% for section in site.sections %}
        {% if section[0] != 'talk' %} 
        {% if section[0] != 'video' %} 
            {% assign attr = section[0] %}
            {% assign label = section[1] %}

            {% for page in site.categories[attr] %} 
                {% if forloop.first %}
                    <li class="inner">{{ label }}</li>
                {% endif %}
                <li class="leaf" data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% endif %}
        {% endif %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>
